body {
    margin: 0;
    background-color: white;
}

h1, h3 {
    margin-top: 0px;
    padding-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 90%;
}
label {
    font-size: 20px;
    margin-top: 5px;
}
input {
    width: 80%;
}
a, a:hover{
    color: #b38900;
}
button {
    margin-top: 10px;
    max-width: 200px;
}
textarea {
    height: 65vh;
    width: 80%;
}
.row {
    margin-right: 0px;
}
.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}
.sidebar div {
    margin-top: 10px;
}